{
  "semi": true,
  "singleQuote": true,
  "singleAttributePerLine": false,
  "trailingComma": "es5",
  "useTabs": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "proseWrap": "never",
  "printWidth": 140,
  "endOfLine": "lf"
}