.tab-ver-text {
  --tab-ver-row-height: 75px;
  --tab-columns: 333px 1fr;
  --tab-gap: 0px;
  --tab-link-padding: 10px 14px;
  --tab-content-border: 0;
  --tab-content-margin-top: 0;
  --tab-content-padding: 24px;
  --tab-content-radius: 0;
  --tab-content-min-height: 300px;

  min-height: var(--tab-content-min-height);
  display: grid;
  grid-template-columns: var(--tab-columns);
  grid-template-rows: var(--tab-ver-template-rows);
  row-gap: var(--tab-gap);
  column-gap: var(--tab-gap);

  &__link {
    grid-column: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var( --tab-link-border);

    font-weight: bold;

    background: var(--tab-link-background);
    color: var(--tab-link-color);
    padding: var(--tab-link-padding);
    text-align: center;
    text-decoration: none;

    cursor: pointer;

    &.is-active {
      background: var(--tab-link-background-active);
      color: var(--tab-link-color-active);
      filter: drop-shadow(2px 4px 6px rgba(0,0,0,.3));
      z-index: 1;
    }

    &:not(.is-active, :last-of-type) {
      border-bottom: 2px solid var(--terciary-color-1);
    }

    &.clicked:not(.is-active) {
      background: var(--tab-link-background-viewed);
    }
  }

  &__content {
    position: relative;
    border-radius: var(--tab-content-radius);
    grid-column: 2;
    grid-row: 1 / -1;
    padding: var(--tab-content-padding);
    box-shadow: -2px 0px 8px rgba(0,0,0,.3);
    z-index: 1;

    background: var(--tab-content-background);
    color: var(--tab-content-color);
    border: var(--tab-content-border);
    margin-top: var(--tab-content-margin-top);
    animation: 0.2s slideOutTop ease-in;
    opacity: 0;
    display: flex;
    align-items: center;

    &.is-active {
      opacity: 1;
      animation: 0.6s slideInTop ease-in-out;
    }
  }
}

@media (max-width: 740px) {
  .tab-ver-text {
    --tab-link-padding: 8px 16px;
    --tab-content-padding: 8px 16px;

    min-height: unset;
    display: flex;
    flex-direction: column;


    &__link {
      grid-template-rows: unset;
      transition: unset;
      border: 2px solid #ACACAC;
      filter: unset;

      +& {
        margin-top: 8px;
      }

      &.is-active {
        width: 100%;
        border: 2px solid #B0FF92;
        filter: unset;
      }

      &[data-nav-id='1'],
      &[data-nav-id='2'],
      &[data-nav-id='3'],
      &[data-nav-id='4'] {
        grid-column: unset;
      }
    }

    &__content {
      min-height: unset;
      display: none;
      grid-column: unset;
      grid-row: unset;
      position: relative;
      inset: unset;
      filter: unset;
      box-shadow: unset;
      box-shadow: 0px 6px 8px rgba(0,0,0,.3);

      &.is-active {
        display: flex;
      }
    }
  }
}
