$primary-font-size: 24px;
$primary-line-height: 32px;

$secondary-font-size: 20px;
$secondary-line-height: 28px;

$header-button-font-size: 32px;
$header-button-line-height: 40px;

.primary {
  --button-radius: 0px;
  --button-background: var(--primary-color-3);
  --button-color: var(--white);
  --button-border: unset;
  --button-padding: 8px 20px;
  --button-text-transform: uppercase;
  --button-arrow: url(/assets/images/wireframe/wireframe-button-arrow.svg);
  --button-arrow-width: 25px;
  --button-arrow-height: 17px;
  --button-icon: url(/assets/images/wireframe/wireframe-button-icon.svg);
  --button-icon-width: 23px;
  --button-icon-height: 26px;
  --button-gap: 8px;

  background: var(--button-background);
  color: var(--button-color);
  border: var(--button-border);
  border-radius: var(--button-radius);
  padding: var(--button-padding);
  font-size: px-to-rem($primary-font-size);
  line-height: px-to-rem($primary-line-height);
  text-transform: var(--button-text-transform);
  display: flex;
  align-items: center;
  gap: var(--button-gap);

  &:hover {
    --button-background: var(--primary-color-1);
    --button-color: var(--white);
  }

  &.primary-arrow {
    &[data-type='next'] {
      flex-direction: row;
    }

    &[data-type='prev'] {
      flex-direction: row-reverse;

      &::after {
        transform: scaleX(-1);
      }
    }

    &:hover {
      &::after {
        background: var(--secondary-color-1);
      }
    }

    &::after {
      content: '';
      background: var(--white);
      mask-image: var(--button-arrow);
      mask-size: cover;
      mask-repeat: no-repeat;
      mask-position: center;
      width: var(--button-arrow-width);
      height: var(--button-arrow-height);
    }
  }

  &.primary-icon {
    &:hover {
      &::after {
        background: var(--secondary);
      }
    }

    &::after {
      content: '';
      background: var(--white);
      mask-image: var(--button-icon);
      mask-size: cover;
      mask-repeat: no-repeat;
      mask-position: center;
      width: var(--button-icon-width);
      height: var(--button-icon-height);
    }
  }
}

.secondary {
  --button-background: var(--secondary-color-1);
  --button-color: var(--white);
  --button-border: unset;
  --button-padding: 8px 20px;
  --button-text-transform: uppercase;
  --button-radius: 0;

  background: var(--button-background);
  color: var(--button-color);
  padding: var(--button-padding);
  border: var(--button-border);
  border-radius: var(--button-radius);
  font-size: px-to-rem($secondary-font-size);
  line-height: px-to-rem($secondary-line-height);
  text-transform: var(--button-text-transform);

  // &.disabled {
  //   pointer-events: none;
  //   opacity: 0.4;
  // }

  &:hover {
    --button-background: var(--secondary-color-2);
    --button-color: var(--white);
  }
}

:where(.primary, .secondary, .question-btn) {
  &.disabled {
    pointer-events: none;
    opacity: 0.4;
    --button-background: var(--disabled-color);
    --button-color: #F2F2F2;
  }
}

button {
  font-family: var(--font-family);
  transition: .3s ease-out
}

.question-btn {
  // CASO O BOTÃO SEJA O MESMO DO PRIMARIO, BASTA DESCOMENTAR A LINHA ABAIXO
  // @extend .primary;

  &[data-type='try'] {
    @extend .secondary;
  }

  &[data-type='save'] {
    @extend .primary;
    // --button-background: var(--secondar-color-2);
    // --button-color: var(--white);
  }

  &[data-type='pdf'] {
    @extend .primary;
  }
}

// ALGO ADICIONAL PARA O BOTAÃO PRIMÁRIO DO HEADER.
.header-button {
  --primary-button-background: var(--wireframe-black);
  --primary-button-border-radius: 16px;
  --primary-button-border-width: 0;
  --primary-button-color: var(--wireframe-gray-contrast);
  --primary-fontweight: normal;
  --primary-padding: 12px 40px;

  --header-arrow: url(/assets/images/wireframe/wireframe-arrow.svg) center / cover no-repeat;
  --header-arrow-width: 14px;
  --header-arrow-height: 15.34px;

  position: relative;

  background: var(--primary-button-background);
  border-radius: var(--primary-button-border-radius);
  border-width: var(--primary-button-border-width);
  color: var(--primary-button-color);
  font-size: px-to-rem($header-button-font-size);
  line-height: px-to-rem($header-button-line-height);
  font-weight: var(--primary-fontweight);
  padding: var(--primary-padding);

  // CASO SEUS GUIA NÃO TENHA A SETINHA PRA BAIXO, PODE DELETAR O CÓDIGO ABAIXO.

  &::before {
    content: '';
    background: var(--header-arrow);
    width: var(--header-arrow-width);
    height: var(--header-arrow-height);

    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: -20px;
  }
}

@media (max-width: 1023px) {
  $primary-font-size: 20px;
  $primary-line-height: 28px;

  $secondary-font-size: 16px;
  $secondary-line-height: 24px;

  $header-button-font-size: 28px;
  $header-button-line-height: 32px;

  .header-button {
    font-size: px-to-rem($header-button-font-size);
    line-height: px-to-rem($header-button-line-height);
  }

  .primary {
    --button-padding: 4px 16px;
    --button-gap: 4px;
    font-size: px-to-rem($primary-font-size);
    line-height: px-to-rem($primary-line-height);
  }

  .secondary {
    --button-padding: 4px 16px;
    --button-gap: 4px;
    font-size: px-to-rem($secondary-font-size);
    line-height: px-to-rem($secondary-line-height);
  }
}
