@use 'sass:math';

// FUNÇÃO PARA CALCULAR PX PARA REM
@function px-to-rem($px-value, $base-font-size: 16px) {
  @return math.div($px-value, $base-font-size) * 1rem;
}

@mixin apply-heading-styles($font-sizes) {
  :root {
    @each $key, $values in $font-sizes {
      $font-size: math.div(nth($values, 1), 16);
      $line-height: math.div(nth($values, 2), 16);
      @if ($key == 'p') {
        --paragraph-fs: #{px-to-rem($font-size * 16)};
        --paragraph-lh: #{px-to-rem($line-height * 16)};
      } @else {
        --h#{$key}-fs: #{px-to-rem($font-size * 16)};
        --h#{$key}-lh: #{px-to-rem($line-height * 16)};
      }
    }
  }

  @each $key, $values in $font-sizes {
    $font-size: math.div(nth($values, 1), 16);
    $line-height: math.div(nth($values, 2), 16);

    @if ($key == 'p') {
      p {
        font-size: #{px-to-rem($font-size * 16)};
        line-height: #{px-to-rem($line-height * 16)};
      }
    } @else {
      h#{$key} {
        font-size: #{px-to-rem($font-size * 16)};
        line-height: #{px-to-rem($line-height * 16)};
        margin-top: var(--element-spacing);
        font-weight: bold;
      }
    }

  }

}

@media (min-width: 817px) {
  $font-sizes: (
    p: (20px,26px),
    1: (64px,70px),
    2: (56px,68px),
    3: (48px,54px),
    4: (40px,46px),
    5: (32px,38px),
    6: (24px,30px),
  );

  @include apply-heading-styles($font-sizes);
}

@media (max-width: 740px) {
  $font-sizes: (
    p: (14px,22px),
    1: (40px,48px),
    2: (32px,40px),
    3: (24px,32px),
    4: (20px,28px),
    5: (16px,24px),
    6: (14px,22px),
  );
  @include apply-heading-styles($font-sizes);
}

:root {
  --section-spacing: 64px; //espaço entre recursos
  --element-spacing: 40px; //espaço entre texto + imagens
  --paragraph-spacing: 24px; //espaço entre parágrafos
  --skew: -10deg;
  --anti-skew: 10deg;

  // --html-conversion: 62.5%;
  --font-family: 'Montserrat', sans-serif;
  --content-grid-width: 816px;
  --padding-inline: 16px;
  --white: #fff;
  --feedback-correct: var(--primary-color-2);
  --feedback-first-try: var(--secondary-color-1);
  --feedback-incorrect: var(--secondary-color-2);

  --menu-heading-arrow: url(/assets/images/menu/menu-head-arrow.svg) center no-repeat;

  // Configuração dos botões de navegação do Swiper:
  // Ajuste a largura (width) e a altura (height) de acordo com o guia de estilos.
  // Atualize a propriedade background para corresponder ao estilo do botão.
  // Se houver diferentes tipos de botões, modifique diretamente no componente,
  // usando a propriedade de background --swiper-actions.

  // Nota importante:
  // Utilizamos o mesmo botão e o invertimos no swiper-prev usando scaleX(-1).
  // Verifique essas configurações no componente.
  --swiper-actions: url(/assets/images/wireframe/wireframe-swiper-actions.svg) center/30% no-repeat;
  --swiper-actions-width: 40px;
  --swiper-actions-height: 40px;

  // Configuração dos botões do Plyr:
  // Ajuste a largura (width) e a altura (height) de acordo com o guia de estilos.
  // Atualize a propriedade background para corresponder ao estilo do botão.
  // Se houver diferentes tipos de botões, modifique diretamente no componente.

  // Nota importante:
  // Em alguns casos, os botões podem diferir entre áudio e vídeo.
  // Além disso, a cor do thumb/progress pode variar entre áudio e vídeo.
  // Consulte o guia de estilos e faça as alterações necessárias na pasta 'midia', no arquivo .scss correspondente ao componente.

  // AUDIO
  // --plyr-control-audio-play-background: url(/assets/images/plyr/plyr-audio-play.svg) center/cover no-repeat;
  --plyr-control-audio-play-width: 40px;
  --plyr-control-audio-play-height: 40px;
  // --plyr-control-audio-volume-background: url(/assets/images/plyr/plyr-audio-volume.svg) center/cover no-repeat;
  --plyr-control-audio-volume-width: 40px;
  --plyr-control-audio-volume-height: 40px;

  //VIDEO
  // --plyr-control-video-play-background: url(/assets/images/plyr/plyr-play.svg) center / cover no-repeat;
  --plyr-control-video-play-width: 60px;
  --plyr-control-video-play-height: 60px;
  // --plyr-control-video-volume-background: url(/assets/images/plyr/plyr-volume.svg) center / cover no-repeat;
  --plyr-control-video-volume-width: 60px;
  --plyr-control-video-volume-height: 60px;
  // --plyr-control-video-fullscreen-background: url(/assets/images/plyr/plyr-fullscreen-1.svg) center / cover no-repeat;
  --plyr-control-video-fullscreen-width: 60px;
  --plyr-control-video-fullscreen-height: 60px;
  // --plyr-overlaid-play-background: url(/assets/images/plyr/plyr-overlaid.svg) center / contain no-repeat;
  --plyr-overlaid-play-width: 96px;
  --plyr-overlaid-play-height: 128px;
  --plyr-overlaid-border-radius: 0;

  --media-button-hover-bg: var(--secondary-color-2);
  --media-slider-track-border-radius: 0;
  --media-slider-track-bg: var(--primary-color-1);
  --media-slider-track-fill-bg: #76b900;

  /*********************************
  CORES
  **********************************/

  /* Cores Primárias */
  --primary-color-1: #FF90E8;
  --primary-color-2: #68FE7F;
  --primary-color-3: #874FFF;

  /* Cores Secundárias */
  --secondary-color-1: #FFEBE6;
  --secondary-color-2: #FF7051;
  --secondary-color-3: #5C2D25;

  --terciary-color-1: #ACACAC;
  --terciary-color-2: #606060;
  --terciary-color-3: #000;

  --disabled-color: #eaeaea;

  --lists-color: var(--primary-color-1);
  --link-color: var(--primary-color-3);

  /* Atualização dos Elementos */
  --menu-background: var(--disabled-color);

  --accordion-title-background: #fff;
  --accordion-title-active-background: var(--primary-color-3);
  --accordion-title-viewed-background: #fff;
  --accordion-title-color: var(--secondary-color-3);
  --accordion-title-active-color: #fff;
  --accordion-title-viewed-color: var(--secondary-color-3);
  --accordion-content-background: var(--primary-color-3);
  --accordion-content-color: #fff;

  --card-front-background: var(--primary-color-1);
  --card-title-background: var(--primary-color-3);
  --card-title-color: #ffffff;
  --card-button-background: var(--primary-color-1);
  --card-back-background: #fff;
  --card-background-color: #fff;
  --card-back-color: var(--secondary-color-3);

  --slider-slide-background: unset;
  --slider-content-background: unset;

  --tab-link-background: var(--disabled-color);
  --tab-link-color: var(--terciary-color-1);
  --tab-link-background-active: var(--primary-color-2);
  --tab-link-color-active: var(--terciary-color-2);
  --tab-link-background-viewed: var(--disabled-color);
  --tab-link-color-viewed: var(--terciary-color-2);
  --tab-link-fs: px-to-rem(24px);
  --tab-link-lh: px-to-rem(32px);
  --tab-link-ff: 'Campuni', sans-serif;
  --tab-content-background: var(--primary-color-2);
  --tab-content-color: var(--terciary-color-2);

  --drop-background: var(--primary-color-2);
  --drop-title-color: var(--tertiary-color-3);
  --drop-content-background: var(--primary-color-1);
  --drop-content-color: var(--secondary-color-4);
  --drop-button-background: var(--primary-color-3);
}

@media screen and (max-width: 740px) {
  :root {
    --skew: -5deg;
    --anti-skew: 5deg;
    --section-spacing: 40px; //espaço entre recursos
    --element-spacing: 28px; //espaço entre texto + imagens
    --paragraph-spacing: 12px; //espaço entre parágrafos
    --paragraph-size: #{px-to-rem(18px)};
    --paragraph-lh: #{px-to-rem(26px)};
  }
}
