.content-grid:has(.drop-content) {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.content-grid:has(.drop-content-down) {
  align-items: flex-start;
}

.content-grid:has(.drop-content-top) {
  align-items: flex-end;
}

.content-grid:has(.drop-content-left) {
  justify-content: flex-start;
}
