.flashcard-image {
  --card-max-width: 320px;
  --card-min-height: 424px;

  --card-front-height: 424px;

  --card-title-padding: 40px 16px 24px;
  --card-title-height: 140px;
  --card-text-align: center;

  --card-button-min-height: 48px;
  --card-button-icon: url(/assets/images/wireframe/arrow-down.svg) center/contain no-repeat;
  --card-button-icon-width: 24px;
  --card-button-icon-height: 24px;

  --card-back-padding: 40px 16px 24px;
  --card-back-text-align: center;

  --card-nav-max-width: 184px;
  --card-nav-margin-top: 24px;

  --card-pagination-max-width: 104px;

  &__card {
    width: 100%;
    max-width: var(--card-max-width);
    height: var(--card-min-height);
    overflow: hidden;
    position: relative;
    margin-inline: auto;

    &.is-active {
      .flashcard-image__back {
        transform: translateY(0);
      }

      .flashcard-image__button {
        bottom: unset;
        top: 0;

        &::before {
          transform: rotate(-180deg);
        }
      }
    }
  }

  &__front {
    background: var(--card-front-background);
    max-width: var(--card-max-width);
    height: var(--card-front-height);
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__title {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: var(--card-title-padding);
    background: var(--card-title-background);
    color: var(--card-title-color);
    text-align: var(--card-text-align);
    height: var(--card-title-height);
    font-weight: bold;
  }

  &__back {
    background: var(--card-back-background);
    color: var(--card-background-color);
    width: 100%;
    height: calc(var(--card-front-height) - (var(--card-button-min-height) / 2));
    padding: var(--card-back-padding);
    text-align: var(--card-back-text-align);
    position: absolute;
    top: calc(var(--card-button-min-height) / 2);
    left: 0;
    z-index: 2;
    transition: transform 300ms ease;
    transform: translateY(100%);
  }

  &__button {
    border: none;
    width: auto;
    aspect-ratio: 1/1;
    background: var(--card-button-background);
    min-height: var(--card-button-min-height);
    position: absolute;
    top: calc((var(--card-min-height) - var(--card-title-height)) - (var(--card-button-min-height) / 2));
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;

    &::before {
      content: '';
      background: var(--card-button-icon);
      width: var(--card-button-icon-width);
      height: var(--card-button-icon-height);
      transform: rotate(0);
      transition: .5s;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--card-nav-max-width);
    margin-top: var(--card-nav-margin-top);
    margin-inline: auto;
    position: relative;

    .flashcard-image__pagination {
      width: 100%;
      position: relative;
      inset: unset;
      z-index: 0;
      max-width: var(--card-pagination-max-width);
    }

    button {
      inset: unset;
      position: relative;
      margin: 0;
      z-index: 3;
    }
  }

  &:not(:has(.flashcard-image__title)) {
    .card:not(.is-active) .flashcard-image__back {
      transform: translateY(calc(100% - 24px));
    }
    .flashcard-image__button {
      top: calc(var(--card-min-height) - var(--card-button-min-height));
    }

    .card.is-active .flashcard-image__button {
      top: 0;
    }
  }
}
