.flashcard-image-full {
  --card-max-width: 320px;
  --card-min-height: 415px;

  --card-front-height: 415px;

  --card-title-padding: 16px 24px;
  --card-title-color: #ffffff;
  --card-text-align: center;

  --card-button-min-height: 40px;
  --card-button-icon: url(/assets/images/wireframe/wireframe-card-arrow.svg) center/cover no-repeat;
  --card-button-icon-width: 24px;
  --card-button-icon-height: 8px;

  --card-back-padding: 74px 32px 32px;
  --card-back-text-align: center;

  --card-nav-max-width: 184px;
  --card-nav-margin-top: 24px;

  --card-pagination-max-width: 104px;

  &__card {
    width: var(--card-max-width);
    height: var(--card-min-height);
    overflow: hidden;
    position: relative;
    margin-inline: auto;

    &.is-active {
      .flashcard-image-full__back {
        transform: translateY(0);
      }

      .flashcard-image-full__button {
        bottom: unset;
        top: 0;

        &::before {
          transform: scaleY(-1);
        }
      }
    }
  }

  &__front {
    background: var(--card-front-background);
    max-width: var(--card-max-width);
    height: var(--card-front-height);
  }

  &__back {
    background: var(--card-back-background);
    width: var(--card-max-width);
    height: var(--card-min-height);
    padding: var(--card-back-padding);
    text-align: var(--card-back-text-align);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: transform 300ms ease;
    transform: translateY(100%);
  }

  &__button {
    border: var(--card-button-border);
    border-radius: var(--card-button-radius);
    width: 100%;
    background: var(--card-button-background);
    min-height: var(--card-button-min-height);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: '';
      background: var(--card-button-icon);
      width: var(--card-button-icon-width);
      height: var(--card-button-icon-height);
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--card-nav-max-width);
    margin-top: var(--card-nav-margin-top);
    margin-inline: auto;
    position: relative;

    .flashcard-image-full__pagination {
      width: 100%;
      position: relative;
      z-index: 0;
      max-width: var(--card-pagination-max-width);
    }

    button {
      inset: unset;
      position: relative;
      margin: 0;
      z-index: 3;
    }
  }
}
