.header-top {
  --header-padding-bottom: 20px;
  --header-background: var(--wireframe-gray-primary);
  --header-minheight: 540px;
  --header-maxwidth: 1920px;
  --header-maxwidth-wrapper: 1024px;
  --header-gap-wrapper: 24px;
  --header-gap-content: 20px;
  --header-column-gap: 24px;

  background: var(--header-background);
  min-height: var(--header-minheight);
  max-width: var(--header-maxwidth);
  width: 100%;
  margin-inline: auto;
  padding-bottom: var(--header-padding-bottom);

  display: flex;
  align-items: flex-start;

  :is(h1, h2) {
    margin-top: 0;
  }

  button {
    margin-inline: auto;
  }

  &__wrapper {
    max-width: var(--header-maxwidth-wrapper);
    width: 100%;
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--header-gap-wrapper);
  }

  &__content {
    display: grid;
    column-gap: var(--header-column-gap);
    align-items: center;

    :is(h1, h2) {
      grid-column: 1;
    }

    :is(button) {
      grid-column: 2;
      grid-row: 1 / span 2;
    }
  }
}

@media (max-width: 740px) {
  .header-top {
    --header-gap-wrapper: 20px;
    --header-gap-content: 16px;
    --header-padding-bottom: 40px;

    padding-inline: 16px;

    &__wrapper {
      flex-direction: column;
      align-items: center;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--header-gap-content);

      button {
        margin-top: calc(var(--header-gap-content) + 12px);
      }
    }
  }
}
