.accordion-simp {
  --accordion-gap: 12px;
  --accordion-title-padding: 16px 24px;
  --accordion-title-gap: 16px;
  --accordion-content-padding: 24px;

  display: flex;
  gap: var(--accordion-gap);

  &__item {
    width: 100%;
    color: var(--accordion-title-color);
  }

  &__item[open] {
    .accordion-simp__summary {
      background: var(--accordion-title-active-background);

      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &__item.clicked:not([open]) {
    .accordion-simp__summary {
      background: var(--accordion-title-viewed-background);
      color: #fff;
    }
  }

  &__summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--accordion-title-gap);
    background: var(--accordion-title-background);
    font-size: var(--paragraph-size);
    line-height: var(--paragraph-lh);
    padding: var(--accordion-title-padding);
    font-weight: bold;

    &::after {
      content: '';
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      mask: url(/assets/images/wireframe/arrow-down.svg) center no-repeat;
      background-color: currentColor;
      mask-size: contain;
      flex: none;
      transition: .3s;
    }
  }

  &__content {
    background: var(--accordion-content-background);
    color: var(--accordion-content-color);
    padding: var(--accordion-content-padding);
    li::before {
      background: currentColor;
    }
  }
}

@media (max-width: 1023px) {
  .accordion-simp {
    --accordion-gap: 8px;
    --accordion-title-padding: 8px 16px;
    --accordion-content-padding: 16px;
  }
}
